/* CSS Document */

/*PAGE LAYOUT*/
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}													   
#logo{float:left; background-image:url("#{resource['images:tie_logo.gif']}"); width:274px; height:213px;}




#list3 { padding-bottom : 160px;height:40px;}
#list3 ul { list-style-image: url("#{resource['images:arrowmark.png']}"); background-size:60px 30px; color:black; font-size:18px; }
#list3 ul li { line-height:20px; float:left;}



#topheader{float:right; width:526px; height:97px; background-color:#F0F0F0; position:relative}
#toplinks{position:absolute; right:10px; top:10px;}
#menu{float:right; width:526px; height:32px; background-image:url("#{resource['images:bg_menu.gif']}"); background-repeat:repeat-x;}
#submenu{float:right; width:526px; height:32px; background-image:url("#{resource['images:bg_submenu.gif']}"); background-position:top; background-repeat:repeat-x;}
#contenttext{float:right; width:526px;}
#leftpanel{float:left; width:274px;}
#footer{float:left; width:800px; background-color:#F0F0F0; padding:10px;}

/*GRAY PANEL*/
.graypanel{
	border:solid 1px #666666; background-color:#F7F7F7; padding:10px; margin:10px;
}

/*TEXT STYLES*/
.bodytext {
	font: 0.7em Tahoma, sans-serif;
	color: #666666;
}

.titletext {
	font: 0.7em Tahoma, sans-serif;
	font-size:36px;
	font-weight:bold;
	color:#CC0000;
}
.whitetitle {
	font: 0.7em Tahoma, sans-serif;
	font-size:36px;
	font-weight:bold;
	color:#FFFFFF;
}
.smalltitle {
	font: 0.7em Tahoma, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#CC0000;
}
.smallwhitetext {
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #FFFFFF;
}
.smallwhitetext a{
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #FFFFFF;
	text-decoration:none;
}
.smallwhitetext a:hover{
	text-decoration:underline;
}
.smallgraytext {
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#999999;
}
.smallgraytext a{
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#999999;
	text-decoration:none;
}
.smallgraytext a:hover{
	text-decoration:underline;
}
.smallredtext {
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#CC0000;
}
.smallredtext a{
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#CC0000;
	text-decoration:none;
}
.smallredtext a:hover{
	text-decoration:underline;
}




.ui-tabs-vertical { width: 55em; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}




div#notes { 
	width: 520px;
	margin-top:20px;
	margin-bottom:20px;
}

div#main{
width: 520px;
/* height: 650px; */
margin: 0px auto;
font-family: 'Ubuntu', sans-serif;
border:2px solid black;
font-size:15px;
margin-top:25px;
}
 
div#form_sample{
text-align:center;
border: 1px solid #ccc;
width: 300px;
padding: 0px 50px 15px;
margin-top:20px;
margin-top:20px;
box-shadow: 0 0 15px;
border-radius: 6px;
float:center;
}
 
#main h1{
margin-top:40px;
}
 
hr{
margin-top:-5px;
}
 
label{
float: left;
font-size: 16px;
}
 
input[type="text"]{
width:100%;
margin-top:10px;
height: 35px;
margin-bottom: 25px;
padding:10px;
border:3px solid #2BC1F2;
}
 
textarea{
width:100%;
border:3px solid #2BC1F2;
padding:10px;
margin-bottom: 25px;
margin-top: 10px;
height: 100px;
resize:none;
}
 
input[type="submit"]{
width:100%;
padding: 10px 45px;
background-color: #2BC1F2;
border: none;
color: white;
font-size: 18px;
font-weight: bold;
cursor: pointer;
font-family: 'Ubuntu', sans-serif;
}



/*
#list3 { }
#list3 ul { list-style-image: background-image:url("#{resource['images:arrow.png']}"); color:#eee; font-size:18px; }
#list3 ul li { line-height:30px; }
*/
.result li  {
   color: blue;
    float: left;
    font-family: Gill Sans,Verdana;
    font-size: 22px;
}




