/* CSS Document */

/*PAGE LAYOUT*/
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}													   
#logo{float:left; background-image:url("#{resource['images:tie_logo.gif']}"); width:274px; height:213px;}




#list3 { padding-bottom : 160px;height:40px;}
#list3 ul { list-style-image: url("#{resource['images:arrowmark.png']}"); background-size:60px 30px; color:black; font-size:18px; }
#list3 ul li { line-height:20px; float:left;}



#topheader{float:right; width:526px; height:97px; background-color:#F0F0F0; position:relative}
#toplinks{position:absolute; right:10px; top:10px;}
#menu{float:right; width:526px; height:32px; background-image:url("#{resource['images:bg_menu.gif']}"); background-repeat:repeat-x;}
#submenu{float:right; width:526px; height:32px; background-image:url("#{resource['images:bg_submenu.gif']}"); background-position:top; background-repeat:repeat-x;}
#contenttext{float:right; width:526px;}
#leftpanel{float:left; width:274px;}
#footer{float:left; width:800px; background-color:#F0F0F0; padding:10px;}

/*GRAY PANEL*/
.graypanel{
	border:solid 1px #666666; background-color:#F7F7F7; padding:10px; margin:10px;
}

/*TEXT STYLES*/
.bodytext {
	font: 0.7em Tahoma, sans-serif;
	color: #666666;
}

.titletext {
	font: 0.7em Tahoma, sans-serif;
	font-size:36px;
	font-weight:bold;
	color:#CC0000;
}
.whitetitle {
	font: 0.7em Tahoma, sans-serif;
	font-size:36px;
	font-weight:bold;
	color:#FFFFFF;
}
.smalltitle {
	font: 0.7em Tahoma, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#CC0000;
}
.smallwhitetext {
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #FFFFFF;
}
.smallwhitetext a{
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #FFFFFF;
	text-decoration:none;
}
.smallwhitetext a:hover{
	text-decoration:underline;
}
.smallgraytext {
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#999999;
}
.smallgraytext a{
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#999999;
	text-decoration:none;
}
.smallgraytext a:hover{
	text-decoration:underline;
}
.smallredtext {
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#CC0000;
}
.smallredtext a{
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#CC0000;
	text-decoration:none;
}
.smallredtext a:hover{
	text-decoration:underline;
}




.ui-tabs-vertical { width: 55em; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}




div#notes { 
	width: 520px;
	margin-top:20px;
	margin-bottom:20px;
}

div#main{
width: 520px;
/* height: 650px; */
margin: 0px auto;
font-family: 'Ubuntu', sans-serif;
border:2px solid black;
font-size:15px;
margin-top:25px;
}
 
div#form_sample{
text-align:center;
border: 1px solid #ccc;
width: 300px;
padding: 0px 50px 15px;
margin-top:20px;
margin-top:20px;
box-shadow: 0 0 15px;
border-radius: 6px;
float:center;
}
 
#main h1{
margin-top:40px;
}
 
hr{
margin-top:-5px;
}
 
label{
float: left;
font-size: 16px;
}
 
input[type="text"]{
width:100%;
margin-top:10px;
height: 35px;
margin-bottom: 25px;
padding:10px;
border:3px solid #2BC1F2;
}
 
textarea{
width:100%;
border:3px solid #2BC1F2;
padding:10px;
margin-bottom: 25px;
margin-top: 10px;
height: 100px;
resize:none;
}
 
input[type="submit"]{
width:100%;
padding: 10px 45px;
background-color: #2BC1F2;
border: none;
color: white;
font-size: 18px;
font-weight: bold;
cursor: pointer;
font-family: 'Ubuntu', sans-serif;
}



/*
#list3 { }
#list3 ul { list-style-image: background-image:url("#{resource['images:arrow.png']}"); color:#eee; font-size:18px; }
#list3 ul li { line-height:30px; }
*/

#result {
 background-color: #e0ffff;
 text-align : justify;
 padding-right: 15px;
 padding-left:15px;
}

.result li  {
   color: blue;
    float: left;
    font-family: Gill Sans,Verdana;
    font-size: 22px;
}




.lp-block		{ width:400px; float:left; }
.lp-block input, .lp-block textarea { width:90%; }
#live-preview-display 	{ background:#eee; padding:10px; margin-left:50px; margin-top:20px; }
#lp-name { font-weight:bold; }
#lp-avatar { float:right; margin:0 0 20px 20px; }
#lp-comment { padding-top:10px; font-style:italic; line-height:19px; }








.tsc_clear { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}
.tsc_clean_comment { margin-bottom:16px; width:400px;}
.tsc_clean_comment .avatar_box { float:left; width:80px;}
.tsc_clean_comment .avatar { background:#fff; padding:4px; border:1px solid #d8d8d8; margin-top:10px; position:relative;}
.tsc_clean_comment .username { color:#383838; font-weight:bold; clear:left;}
.tsc_clean_comment .comment_box { floar:right; padding-bottom:8px; width:310px; height:auto; background:#fff; border:1px solid #d8d8d8; position:relative;}
.tsc_clean_comment .comment_box:before { content:''; width:13px; height:13px; background:#fff; border-left:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8; position:absolute; top:24px; left:-8px; transform:rotate(45deg); -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -ms-transform:rotate(45deg); -o-transform:rotate(45deg);}
.tsc_clean_comment .comment_paragraph { color:#454545; line-height:14px; margin:4px 10px 0 15px;}
.tsc_clean_comment .comment_paragraph:focus { outline:none;}
.tsc_clean_comment .reply {	font-size:0.85em; color:#b7b7b7; margin-left:23px; text-decoration:none; margin-top:8px; position:relative; padding-bottom:10px;}
.tsc_clean_comment .reply:before {	content:url(../images/bubble.png); width:13px; height:11px; position:relative; left:-7px; top:2px;}
.tsc_clean_comment .date { float:right; font-size:0.85em; color:#454545; margin-top:0; margin-right:15px;}





div.ui-selectcheckboxmenu.ui-widget{
width: 100% !important;
}
div.ui-widget-header.ui-corner-all.ui-selectcheckboxmenu-header.ui-helper-clearfix{
padding: 3px !important;

}
input.ui-inputfield.ui-inputtext.ui-widget.ui-state-default.ui-corner-all{

width: 90% !important;

}
div.ui-chkbox-box.ui-widget.ui-corner-all{
vertical-align: top !important;
margin-top: 3px !important;
}
div.ui-selectcheckboxmenu-filter-container{
width:75% !important;
vertical-align: top !important;
margin-left: 2px !important;
}



#programblock {margin-bottom:16px;margin-top:75px;}

.line-separator{

height:1px;

background:#717171;

border-bottom:20px solid #313030;

}

#imagesnap { 
	background-color: grey;
 }


#justconcepts {
    background: #ffcc99 none repeat scroll 0 0;
    text-align: left;
    font-family: Comic Sans MS;
    padding-bottom: 20px;
    padding-top: 20px;
}

